<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>USERINFO</title>
  </head>
  <body>
    <form action="/users/usermodify" method="post">
      <p>ID : <input type="text" name="modify_id" value="{{userid}}" /></p>
      <p>PW : <input type="password" name="modify_pw" value="{{userpw}}" /></p>
      <button type="submit">저장</button>
    </form>
    <a href="/users/logout">로그아웃</a>
  </body>
</html>
