<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>USERINFO</title>
  </head>
  <body>
    <p>ID : {{userid}}</p>
    <input type="password" value="{{userpw}}" />
    <a href="/users/usermodify">수정</a>
    <form action="/users/delete" method="post">
      <button type="submit">탈퇴</button>
    </form>
    <a href="/boards/list">목록으로</a>
    <a href="/users/logout">로그아웃</a>
  </body>
</html>
