<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LIST</title>
  </head>
  <body>
    {% if user%}
    <div>
      {{user.userid}}
      <a href="/users/userinfo">회원정보</a>
      <a href="/users/logout">로그아웃</a>
    </div>
    <h2>안녕</h2>
    <table>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회수</th>
      </tr>
      {% for data in list %}
      <tr>
        <td>{{data.id}}</td>
        <td><a href="/boards/view?id={{data.id}}">{{data.title}}</a></td>
        <td>{{data.writer}}</td>
        <td>{{data.created_at}}</td>
        <td>{{data.hit}}</td>
      </tr>
      {% endfor %}
    </table>
    <div>
      {% if pagination.prevEnd > 0 %}
      <a href="/boards/list?page={{pagination.prevEnd}}">이전</a>
      {% endif %} {% for i in range(pagination.start,pagination.end+1)%}
      <a href="/boards/list?page={{i}}">{{i}}</a>
      {%endfor%} {% if pagination.nextStart %}
      <a href="/boards/list?page={{pagination.nextStart}}">다음</a>
      {% endif %}
    </div>
    <a href="/boards/write">글쓰기</a>

    {% else %}
    <p>로그인하세요</p>
    <a href="/">홈으로</a>
    {% endif %}
  </body>
</html>
