<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VIEW</title>
  </head>
  <body>
    {% if user %}
    <p>제목: {{title}}</p>
    <p>작성자: {{writer}}</p>
    <p>내용: {{content}}</p>
    <a href="/boards/modify?id={{id}}">수정</a>
    <form action="/boards/delete?id={{id}}" method="post">
      <button type="submit">삭제</button>
    </form>
    <a href="/boards/list">목록으로</a>
    <a href="/users/logout">로그아웃</a>
    {% else %}
    <p>로그인하세요</p>
    <a href="/">홈으로</a>
    {% endif %}
  </body>
</html>
