<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WRITE</title>
  </head>
  <body>
    <form action="/boards/write" method="post">
      <ul>
        <li>
          <input type="text" name="title" />
        </li>
        <p>{{userid}}</p>
        <input type="hidden" name="writer" value="{{userid}}" />
        <textarea name="content"></textarea>
      </ul>
      <button type="submit">저장</button>
    </form>
    <a href="/users/logout">로그아웃</a>
  </body>
</html>
